<div class="modal-header" style="text-align: center;">
  <h2 style="font-size: 35px;">Game Request<img src="/assets/logo.png" style="width:50px;"></h2>

  <div class="well" style="border-radius: 12px;">
    <p style="font-size: 16px;">You have been asked to join a game. Will you join?</p>
  </div>

  <%= form_for(@room)  do |f| %>
      <%= f.number_field :player1_id, id: 'player1-field', :style => 'display: none;' %>
      <%= f.number_field :player2_id, id: 'player2-field', :style => 'display: none;' %>
      <%= f.text_field :invitation_id, id: 'invitation-field', :style => 'display: none;' %>
      <th><%= f.submit "Accept", :id => 'room-create', :class => 'btn btn-success btn-lg' %></th>
      <th><%= link_to 'No thanks', "#", class: 'btn btn-default btn-lg cancel' %></th>
  <% end %>
  <br />
  <br /><br /><br /><br /><br />
</div>


<script>

$('.cancel').click(function(){
  $('#product-modal').modal("hide");
  return false;
});
</script>
