<div class="well container">
  <h1>Static Pages</h1>
</div>
  <% if user_signed_in? %>
    <% @users.each do |user|  %>
    <h3> <%= user.name %></h3>
    <li> <%= link_to 'Request Game', new_invitation_path(sender_id: current_user.id, recipient_id: user.id), remote: true, class: 'btn btn-success' %></li>
  <% end %>
<% end %>


<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content">
    </div>
  </div>
</div>

<script>
$(function() {
  var pusher = new Pusher('f74ddd7f3eae987007b6');
  var channelName = 'private-conversation.' + "<%= current_user ? current_user.id.to_s : 'null' %>";
  var channel = pusher.subscribe(channelName);

  channel.bind('game_request', function(data) {
    console.log(data.from);
    console.log(data.invitation)
    $('#inner-product-modal').html("<%= escape_javascript(render 'new_room') %>");
    $('#product-modal').modal("show");
    $('#player1-field').val("<%= current_user.id %>");
    $('#player2-field').val(data.from);
    $('#invitation-field').val(data.invitation);
    $('.submit-room').click(function() {
      console.log('room created');
      $('.submit-room').click(function() {
        $('#room-create').submit();
      })
    });


  });

  channel.bind('game_acceptance', function(data) {
    console.log(data.room);
    window.location = '/rooms/' + data.room;
  });
});

</script>
