<%= form_for([@room, @move]), remote: true do |f| %>
  <div class="field">
    <%= f.label :notation %><br>
    <%= f.text_field :notation %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.text_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :piece %><br>
    <%= f.text_field :piece %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
