<p id="notice"><%= notice %></p>

<p>
  <strong>Notation:</strong>
  <%= @move.notation %>
</p>

<p>
  <strong>Room:</strong>
  <%= @move.room %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @move.piece %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
