<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @invitation.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @invitation.recipient_id %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
