<div class="col-md-9">
  <div class="chess-holder">
    <div class="col-sm-2 timer-holder clock" style="font-size: 20px;">
      <div class="button-holder">
    <span class="glyphicon glyphicon-hourglass button-glyphs"></span>  <p>Player <b>1</b></p><span class="glyphicon glyphicon-minus button-glyphs"></span>
      </div>
        <div class="time-box">
          <div id="time0" class="time-digits"></div>
        </div>
        <div class="space-keeper">
          <p class="line-break"></p>
          <div class="player-info">
            <div class="user-header">
               <p><span class="glyphicon glyphicon-user button-glyphs"></span>ryanG360</p><br><br>
            </div>
            <p>Brooklyn, NY</p><br>
            <p>Ranking: 2400</p><br>
            <p>User Rank:
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>

            </p>
          </div>
        </div>
        <div class="button-holder second-button-holder">
        <span class="glyphicon glyphicon-hourglass button-glyphs"></span><p>Player <b>2</b></p><span class="glyphicon glyphicon-minus button-glyphs"></span>
        </div>
        <div class="time-box">
          <div id="time1" class="time-digits"></div>
        </div>
        <div class="space-keeper">
          <p class="line-break"></p>
          <div class="player-info">
            <div class="user-header">
               <p><span class="glyphicon glyphicon-user button-glyphs"></span>tGold108</p><br><br>
            </div>
            <p>Long Beach, NY</p><br>
            <p>Ranking: 1200</p><br>
            <p>User Rank
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>
    </div>
    <div class="col-sm-8" id="board" style="width: 537px"></div>
    <!-- <p>Status: <span id="status"></span></p>
    <p>FEN: <span id="fen"></span></p>
    <p>PGN: <span id="pgn"></span></p> -->
    <div class="col-sm-2 captured-pieces">
      <div class="white-pieces">
        <div class="button-holder">
          <span class="glyphicon glyphicon-ok-circle button-glyphs"></span><p>Captured Black</p>
        </div>
      </div>
      <div class="space-bottom"></div>
      <div class="black-pieces">
        <div class="button-holder">
        <span class="glyphicon glyphicon-ok-circle button-glyphs"></span><p>Captured White</p>
        </div>
      </div>
      <div class="space-bottom"></div>
    </div>
  </div>
</div>

<div class="sidebar-nav col-md-3">
  <div class="table-holder container-sm">
  <table class="table text-holder">
    <tbody class="text-list">
    </tbody>
  </table>
  </div>
  <div class="buttons">
    <button class="btn"><span class="glyphicon glyphicon-hand-right button-glyphs"></span><li> <%= link_to 'DRAW', "#", style: 'text-decoration: none; color: white;' %></li></button>
    <td></td>
    <button class="btn"><span class="glyphicon glyphicon-flag button-glyphs"></span><li> <%= link_to 'QUIT', "#", style: 'text-decoration: none; color: white;' %></li></button>
  </div>
</div>

<div class="bottom-row"></div>
<div class="popup-chatbox">
  <div class="closed-box">
    <p>OPEN CHAT</p>
    <span class="glyphicon glyphicon-plus button-glyphs"></span>
  </div>
  <div class="open-box" style="display:none;">
    <div class="popup-head">
      <div class="popup-head-left"><p>OPPONENT</p></div>
      <div class="popup-head-right"><span class="glyphicon glyphicon-minus button-glyphs"></span></div>
    </div>
    <div class="popup-messages">
      <div class="message-content">
        <div class="message-wrapper">
          <div class="left">
            <p class="message-text"> <%= @conversation.id %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for [@room, @move], remote: true do |f| %>
  <div class="field">
    <%= f.text_field :notation, id: 'move-notation' %>
  </div>
  <div class="field">
    <%= f.text_field :room_id  %>
  </div>
  <div class="field">
    <%= f.text_field :user_id, id: 'move-user' %>
  </div>
  <div class="field">
    <%= f.text_field :piece, id: 'move-piece'  %>
  </div>
  <div class="actions">
    <%= f.submit "", :id => 'move-submit' %>
  </div>
<% end %>

<script src="/assets/chess.js"></script>
<script>

// set new board //

var board,
  game = new Chess(),
  statusEl = $('#status'),
  fenEl = $('#fen'),
  pgnEl = $('#pgn');

// do not pick up pieces if the game is over
// only pick up pieces for the side to move
var onDragStart = function(source, piece, position, orientation) {
  if (game.game_over() === true ||
      (game.turn() === 'w' && "<%= current_user.id %>" === "<%= @room.player2_id %>") ||
      (game.turn() === 'b' && "<%= current_user.id %>" === "<%= @room.player1_id %>") ||
      (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
    return false;
  }
};

var onDrop = function(source, target) {
  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  });

  // illegal move
  if (move === null) return 'snapback';
  var trNum = $('tbody').children().length + 1;
  $('.text-list').append('<tr><th><b>' + trNum + '</b> <div class="pipe">|</div> ' + move.from + "-" + move.to + '</th></tr>');

  updateStatus(source, target);
};

// update the board position after the piece snap
// for castling, en passant, pawn promotion
var onSnapEnd = function() {
  board.position(game.fen());
};

var updateStatus = function(source, target) {
  var status = '';

  var moveColor = 'White';
  if (game.turn() === 'b') {
    moveColor = 'Black';
  }

  // checkmate?
  if (game.in_checkmate() === true) {
    status = 'Game over, ' + moveColor + ' is in checkmate.';
  }

  // draw?
  else if (game.in_draw() === true) {
    status = 'Game over, drawn position';
  }

  // game still on
  else {
    status = moveColor + ' to move';

    // check?
    if (game.in_check() === true) {
      status += ', ' + moveColor + ' is in check';
    }
  }

  statusEl.html(status);
  fenEl.html(game.fen());
  pgnEl.html(game.pgn());
  $('#move-notation').val(source + '-' + target);
  $('#move-piece').val(game.fen());
  $('#move-user').val('<%= current_user.id %>')
  $('#move-submit').submit();
};

var cfg = {
  draggable: true,
  showNotation: false,
  position: 'start',
  snapSpeed: 100,
  snapbackSpeed: 400,
  moveSpeed: 'slow',
  pieceTheme: "/assets/{piece}.png",
  onDragStart: onDragStart,
  onDrop: onDrop,
  onSnapEnd: onSnapEnd
};
board = new ChessBoard('board', cfg);

updateStatus();


</script>

<script>
$(function() {
  if ("<%= current_user.id %>" === "<%= @room.player2_id %>") {
    board.orientation('black');
  }
  console.log("<%= current_user.id %>");
  console.log("<%= @room.player1_id %>");
  console.log("<%= @room.player2_id %>");

  $('.glyphicon-minus').click(function() {
    $(this).parent().parent().parent().toggle();
    $(this).parent().parent().parent().parent().find('.closed-box').toggle();
    $(this).parent().parent().parent().parent().addClass('popup-chatbox');
    $(this).parent().parent().parent().parent().removeClass('popup-expanded');
  });
  $('.glyphicon-plus').click(function() {
    $(this).parent().toggle();
    $(this).parent().parent().find('.open-box').toggle();
    $(this).parent().parent().addClass('popup-expanded');
    $(this).parent().parent().removeClass('popup-chatbox');
  });


  var pusher = new Pusher('f74ddd7f3eae987007b6');
  var channelName = 'private-conversation.' + "<%= current_user ? current_user.id.to_s : 'null' %>";
  var channel = pusher.subscribe(channelName);



  channel.bind('new_move', function(data) {
    console.log(data.fen);
    console.log;
    console.log(data.object_notation);
    console.log(game.turn());

    onDrop(data.object_notation.split('-')[0], data.object_notation.split('-')[1]);
    board.move(data.object_notation);

    switchTurn();

    var numBlackPawns = (data.fen.split(" ")[0].match(/p/g) || []).length;
    var numWhitePawns = (data.fen.split(" ")[0].match(/P/g) || []).length;
    var numBlackRooks = (data.fen.split(" ")[0].match(/r/g) || []).length;
    var numWhiteRooks = (data.fen.split(" ")[0].match(/R/g) || []).length;
    var numBlackKnights = (data.fen.split(" ")[0].match(/n/g) || []).length;
    var numWhiteKnights = (data.fen.split(" ")[0].match(/N/g) || []).length;
    var numBlackBishops = (data.fen.split(" ")[0].match(/b/g) || []).length;
    var numWhiteBishops = (data.fen.split(" ")[0].match(/B/g) || []).length;
    var numBlackQueens = (data.fen.split(" ")[0].match(/q/g) || []).length;
    var numWhiteQueens = (data.fen.split(" ")[0].match(/Q/g) || []).length;

    // display captured pieces  - bp, wP, bk, wK, bb, wB, bq, wQ, br, wR

    // pawns
    var bPawnDiff = 8 - numBlackPawns;
    var numWindowBlackPawns = $('.black-pieces').find('img[src*=bP]').length;
    if (bPawnDiff > numWindowBlackPawns) {
      $('.black-pieces').append('<img src="/assets/bP.png" class="small-icons">');
    }
    var wPawnDiff = 8 - numWhitePawns;
    var numWindowWhitePawns = $('.white-pieces').find('img[src*=wP]').length;
    if (wPawnDiff > numWindowWhitePawns) {
      $('.white-pieces').append('<img src="/assets/wP.png" class="small-icons">');
    }

    // rooks
    var bRookDiff = 2 - numBlackRooks;
    var numWindowBlackRooks = $('.black-pieces').find('img[src*=bR]').length;
    if (bRookDiff > numWindowBlackRooks) {
      $('.black-pieces').append('<img src="/assets/bR.png" class="small-icons">');
    }
    var wRookDiff = 2 - numWhiteRooks;
    var numWindowWhiteRooks = $('.white-pieces').find('img[src*=wR]').length;
    if (wRookDiff > numWindowWhiteRooks) {
      $('.white-pieces').append('<img src="/assets/wR.png" class="small-icons">');
    }

    // knights
    var bKnightDiff = 2 - numBlackKnights;
    var numWindowBlackKnights = $('.black-pieces').find('img[src*=bN]').length;
    if (bKnightDiff > numWindowBlackKnights) {
      $('.black-pieces').append('<img src="/assets/bN.png" class="small-icons">');
    }
    var wKnightDiff = 2 - numWhiteKnights;
    var numWindowWhiteKnights = $('.white-pieces').find('img[src*=wN]').length;
    if (wKnightDiff > numWindowWhiteKnights) {
      $('.white-pieces').append('<img src="/assets/wN.png" class="small-icons">');
    }

    // bishops
    var bBishopDiff = 2 - numBlackBishops;
    var numWindowBlackBishops = $('.black-pieces').find('img[src*=bB]').length;
    if (bBishopDiff > numWindowBlackBishops) {
      $('.black-pieces').append('<img src="/assets/bB.png" class="small-icons">');
    }
    var wBishopDiff = 2 - numWhiteBishops;
    var numWindowWhiteBishops = $('.white-pieces').find('img[src*=wB]').length;
    if (wBishopDiff > numWindowWhiteBishops) {
      $('.white-pieces').append('<img src="/assets/wB.png" class="small-icons">');
    }

    // queens
    var bQueenDiff = 1 - numBlackQueens;
    var numWindowBlackQueens = $('.black-pieces').find('img[src*=bQ]').length;
    if (bQueenDiff > numWindowBlackQueens) {
      $('.black-pieces').append('<img src="/assets/bQ.png" class="small-icons">');
    }
    var wQueenDiff = 1 - numWhiteQueens;
    var numWindowWhiteQueens = $('.white-pieces').find('img[src*=wQ]').length;
    if (wQueenDiff > numWindowWhiteQueens) {
      $('.white-pieces').append('<img src="/assets/wQ.png" class="small-icons">');
    }


  });

  // set timer
  var addedTimePerMove, formatTime, initialTime, intervalId, pad, remainingTime, switchTurn, turn, update;
  initialTime = 15 * 60;
  addedTimePerMove = 0;
  turn = 1;
  remainingTime = [initialTime, initialTime];
  pad = function(x) {
   return ('0' + x).slice(-2);
  };
  formatTime = function(t) {
   var hours, minutes, seconds;
   seconds = t % 60;
   minutes = Math.floor(t / 60) % 60;
   hours = Math.floor(t / 3600);
   if (hours) {
     return "" + hours + ":" + (pad(minutes)) + ":" + (pad(seconds));
   } else {
     return "" + minutes + ":" + (pad(seconds));
   }
  };
  update = function() {
   var i;
   remainingTime[turn]--;
   for (i = 0; i < 2; i++) {
     $("#time" + i).text(formatTime(remainingTime[i]));
   }
   if (remainingTime[turn] <= 0) {
     $("#time" + turn).removeClass('turn').addClass('loser');
     alert('Game Over');
     return clearInterval(intervalId);
   }
  };
  switchTurn = function() {
     $("#time" + turn).removeClass('turn');
     turn = 1 - turn;
     $("#time" + turn).addClass('turn');
     return remainingTime[turn] += addedTimePerMove;
  };

  $('#time1').addClass('turn');
  return intervalId = setInterval(update, 1000);
});

</script>
